@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cor-padrao: #ff523b;
    --cor-padrao-hover: #f3b2e5;
    --cor-fonte: #fff;
    --cor-fonte-p: #555;
    --cor-btn: #563434;
    --cor-btn-hover: #15ff00;
    --cor-btn-font: #000;
    --corr-fonte-corpo: #555;
    --cor-fonte-corpo-leve: #777;
}
body{
    font-family: "poppins", sans-serif;
}
.banner{
    background: radial-gradient(var(--cor-btn-hover), var(--cor-padrao));
}
.banner.linha{
    margin-top: 70px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}



